<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
  <title>Ändra dokument</title>
  <th:block th:insert="fragments/layout :: commonHeadLines"/>
</head>
<body>

<div class="page-container">

  <div th:insert="fragments/layout :: header"></div>

  <div class="breadCrumb">
    <a th:href="@{/domains}" th:text="#{domain.version.service.domains}">Tjänstedomäner</a>
    &gt;
    <a th:href="@{/domain/{domainName}(domainName=${domainName})}" th:text="${domainName}">Domain
      Name</a>
    &gt;
    <a th:href="@{/domain/{domainName}/{versionName}(domainName=${domainName},versionName=${versionName})}"
       th:text="${versionName}"> Domain version Name</a>
  </div>

  <div id="create-domain" class="content scaffold-create" role="main">
    <h1>Ändra dokument</h1>
    <form th:object="${document}"
          th:action="@{/domain/{domainName}/{versionName}/document/edit/{documentId}(domainName=${domainName},versionName=${versionName}, documentId=${document.id})}"
          method="post">
      <ol class="table-list">
        <li>
          <label class="create-table-cell-heading" for="fileName"
                 th:text="#{domain.document.filename}">Filnamn</label>
          <span class="create-table-cell-input">
            <input type="text" id="fileName" required="required" th:field="*{fileName}"/>
            <span class="required-indicator">*</span>
          </span>
        </li>
        <li>
          <label class="create-table-cell-heading" for="documentType"
                 th:text="#{domain.document.type}">Dokumenttyp</label>
          <select class="create-table-cell-input" id="documentType" name="documentType">
            <option th:each="documentType : ${documentTypes}"
                    th:value="${documentType}"
                    th:text="${documentType}"
                    th:selected="${documentType} == ${document.documentType}">
            </option>
          </select>
        </li>
      </ol>
      <button type="submit">Spara</button>
    </form>
    <a th:href="@{${svnPath}}" th:text="#{domain.document.show}" target="_blank"></a>
  </div>
  <div class="footer"></div>
</div>
</body>
</html>
