<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
    <title>Error page</title>
    <th:block th:insert="fragments/layout :: commonHeadLines"/>
</head>
<body>

<div class="page-container">
    <div th:insert="fragments/layout :: header"></div>
</div>
<ul class="errors">
    <li><p th:if="${param.errorMessage}" th:text="${param.errorMessage}"></p></li>
    <li><p th:unless="${param.errorMessage}">An error has occurred</p></li>
</ul>

<div class="footer"></div>

</body>
</html>
