<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:insert="fragments/layout :: commonHeadLines"/>
    <title>Login</title>
</head>
<body>
<div class="page-container">
<div th:insert="fragments/layout :: header"></div>
    <div class="breadCrumb" th:text="${user.username}"></div>
    <div class="domdb-data" role="main">
        <form th:object="${user}" th:action="@{/user/edit/{userName}(userName=${user.username})}" method="post">
            <div>
                <label>
                    <input type="checkbox" name="userRoleUser" th:checked="${user.isUserRole}" th:field="${user.userRole}" th:text="${'ROLE_USER'}"/>
                </label>
            </div>
            <div>
                <label>
                    <input type="checkbox" name="userRoleEditor" th:checked="${user.isEditorRole}" th:field="${user.editorRole}" th:text="${'ROLE_EDITOR'}"/>
                </label>
            </div>
            <div>
                <label>
                    <input type="checkbox" name="userRoleAdmin" th:checked="${user.isAdminRole}" th:field="${user.adminRole}" th:text="${'ROLE_ADMIN'}"/>
                </label>
            </div>
            <button type="submit">Uppdatera</button>
        </form>

        <form th:method="delete" th:action="@{/user/delete/{userName}(userName=${user.username})}">
            <button type="submit" id="userDeleteBtn" th:onclick="return confirm('Vill du ta bort användaren [[${user.username}]] ?')">
                Ta bort användare
            </button>
        </form>
    </div>
</div>
</body>
<div class="footer"></div>
</html>
