<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:insert="fragments/layout :: commonHeadLines"/>
    <title>Login</title>
</head>
<body>
<div class="page-container">
    <div th:insert="fragments/layout :: header"></div>
    <div class="breadCrumb" th:text="${'Användare'}"></div>
    <div class="domdb-data" role="main">
        <table>
            <thead>
            <tr>
                <th>Username</th>
                <th>User</th>
                <th>Editor</th>
                <th>Admin</th>
            </tr>
            </thead>
            <tr th:each="user : ${userList}">
                <td><a th:href="@{/user/edit/{userName}(userName=${user.username})}" th:text="${user.username}"></a></td>
                <td>
                    <img  th:if="${user.isUserRole eq true}" th:src="@{/images/checkmark_true.png}" alt="Has role" width="24" height="24">
                    <img  th:if="${user.isUserRole eq false}" th:src="@{/images/checkmark_false.png}" alt="Has not role" width="24" height="24">
                </td>
                <td>
                    <img  th:if="${user.isEditorRole eq true}" th:src="@{/images/checkmark_true.png}" alt="Has role" width="24" height="24">
                    <img  th:if="${user.isEditorRole eq false}" th:src="@{/images/checkmark_false.png}" alt="Has not role" width="24" height="24">
                </td>
                <td>
                    <img  th:if="${user.isAdminRole eq true}" th:src="@{/images/checkmark_true.png}" alt="Has role" width="24" height="24">
                    <img  th:if="${user.isAdminRole eq false}" th:src="@{/images/checkmark_false.png}" alt="Has not role" width="24" height="24">
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
<div class="footer"></div>
</html>
