<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
    <title>Ändra DomainVersion</title>
    <th:block th:insert="fragments/layout :: commonHeadLines"/>
</head>
<body>

<div class="page-container">

    <div th:insert="fragments/layout :: header"></div>

    <div class="breadCrumb">
        <a th:href="@{/domains}" th:text="#{domain.version.service.domains}">Tjänstedomäner</a>
        &gt;
        <a th:href="@{/domain/{domainName}(domainName=${domainName})}" th:text="${domainName}">Domain
            Name</a>
        &gt;
        <a th:href="@{/domain/{domainName}/{versionName}(domainName=${domainName},versionName=${versionName})}"
           th:text="${versionName}"> Domain version Name</a>
    </div>

    <div id="create-domain-version" class="content scaffold-create" role="main">
        <h1>Ändra granskning</h1>
        <form th:object="${review}"
              th:action="@{/domain/{domainName}/{versionName}/review/edit/{reviewId}(domainName=${domainName},versionName=${versionName},reviewId=${review.id})}"
              method="post">
            <ol class="table-list">
                <li>
                    <label class="create-table-cell-heading" for="reviewProtocol"
                           th:text="#{domain.review.reviewProtocol}">Typ av granskning</label>
                    <span id="reviewProtocol" th:text="${review.reviewProtocol}"></span>
                </li>
                <li>
                    <label class="create-table-cell-heading" for="reviewOutcome"
                           th:text="#{domain.review.reviewOutcome}">Granskningsresultat</label>
                    <select class="create-table-cell-input" id="reviewOutcome" name="reviewOutcome">
                        <option th:each="reviewOutcome : ${reviewOutcomes}"
                                th:value="${reviewOutcome.name}"
                                th:text="${reviewOutcome.name}"
                                th:selected="${reviewOutcome.name==review.reviewOutcome}">>
                        </option>
                    </select>
                    <span class="required-indicator">*</span>
                </li>
                <li>
                    <label class="create-table-cell-heading" for="reportUrl"
                        th:text="#{domain.review.reportUrl}">URL till rapport</label>
                    <span class="create-table-cell-input">
                        <input type="text" class="ftp_dialogOutputTarget" id="reportUrl" th:field="*{reportUrl}"/>
                    </span>
                    <th:block th:insert="fragments/ftp :: ftp_fileSelect_openButton"></th:block>
                </li>
            </ol>

            <button type="submit">Spara</button>
        </form>
        <th:block th:insert="fragments/ftp :: ftp_fileSelect_modalWrapper"></th:block>
    </div>
    <div class="footer"></div>
</div>
</body>
</html>