<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <th:block th:insert="fragments/layout :: commonHeadLines"/>
  <title>Login</title>
</head>

<body>
<div th:insert="fragments/layout :: header"></div>
<div class="login_block">
  <h2>Logga in</h2>

  <p>För att fortsätta behöver du logga in. Vi använder användarkonton från BitbucketAccount.</p>
  <p>Klicka på bitbucket knapp nedan för att gå till inloggning.</p>
  <a th:href="@{/oauth2/authorization/bitbucket}" provider="bitbucket">
    <img th:src="@{/images/bitbucket.png}" alt="Bitbucket Logotype.">
  </a>
</div>

</body>
<div class="footer"></div>
</html>
