<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">

<th:block th:fragment="ftp_fileSelect_openButton">
    <button type="button" id="ftp_filesDialog_openBtn">Välj Fil</button>
</th:block>

<th:block th:fragment="ftp_fileSelect_modalWrapper">

    <dialog class="ftp_filesDialog" id="ftp_filesDialog">
        <div class="ftp-close">
            <button class="close-button" type="button" autofocus id="ftp_filesDialog_closeBtn"></button>
        </div>
        <div th:insert="this :: fileListDynamic">
        </div>
    </dialog>

    <script>
        const dialog = document.getElementById("ftp_filesDialog");
        const showButton = document.getElementById("ftp_filesDialog_openBtn");
        const closeButton = document.getElementById("ftp_filesDialog_closeBtn");
        const selectButton = document.getElementById("ftp_filesDialog_selectFileBtn");
        const outputBox = document.getElementsByClassName("ftp_dialogOutputTarget")[0];
        const radios = document.getElementsByName("selectedFileRadios");


        // "Show the dialog" button opens the dialog modally
        showButton.addEventListener("click", () => {
            dialog.showModal();
        });

        // "Close" button closes the dialog
        closeButton.addEventListener("click", () => {
            dialog.close();
        });

        for (i = 0; i < radios.length; i++) {
            radios[i].addEventListener("click", () => {
                selectButton.removeAttribute('disabled');
            });
        }

        // "Select" button performs the response from the dialog.
        selectButton.addEventListener("click", (event) => {
            //event.preventDefault(); // We don't want to submit this fake form. Not needed outside of forms.

            var selectedFileUri = "default";
            for (i = 0; i < radios.length; i++) {
                if (radios[i].checked) {
                    console.log(radios[i].value);
                    selectedFileUri = radios[i].value;
                }
            }

            dialog.close(selectedFileUri); // Have to send the selected radio value here.
        });

        dialog.addEventListener("close", (e) => {
            if (dialog.returnValue === "default" || dialog.returnValue === "") { // var set to "default" if unchanged.
                return;
            }
            outputBox.value = dialog.returnValue;
        });


        // "Upload file" button disabled from start. Enabled when file is uploaded.

      function checkFile() {
      var fileInput = document.getElementById('fileInput');
      var submitButton = document.getElementById('submitButton');

      // Check if the file input has files
      if (fileInput.files.length > 0) {
        submitButton.removeAttribute('disabled');
      } else {
        submitButton.setAttribute('disabled', 'disabled');
      }
    }

    function submitForm() {
      alert('Fil uppladdad.');
      // Add additional logic for form submission
    }

    </script>
</th:block>

<div th:fragment="fileListDynamic">
    <div th:insert="this :: ftp_fileSelectTable" id="ftpFiles_dynamicListHook"></div>
    <hr>
    <details>
        <summary>Filuppladdning</summary>
        <div class="uploadFileContainer" th:insert="this :: uploadFileHandler"></div>
    </details>
    <div th:insert="this :: ftpFiles_dynamicListRefresherScript"></div>
</div>

<!-- FILE LIST, SELECT, DELETE -->
<div th:fragment="ftp_fileSelectTable" role="main">
    <h1>Välj eller radera fil</h1>

    <br>
    <!-- Button to trigger the Ajax request, which refreshes the file list below -->
    <button type="button" id="ftpFiles_updateListButton" disabled>Uppdatera Lista (WIP)</button>

    <hr> <!-- Divider -->

    <p th:text="'Filer har sökts i FTP-mapp: ' + ${ftp_fileScanResults.desiredSubPath}"></p>
    <br>
    <p th:if="${!ftp_fileScanResults.connected}"
       th:text="'Sökning efter filer har misslyckats! Felmeddelande: ' + ${ftp_fileScanResults.errorMessage}"></p>
    <div th:if="${ftp_fileScanResults.connected}">
        <ol class="striped-table">
            <li class="ftp-list-heading">
                <span class="striped-table-heading"><th th:text="#{ftp.list.header.select}">Välj</th></span>
                <span class="striped-table-heading"><th th:text="#{ftp.list.header.filename}">Filnamn</th></span>
                <span class="striped-table-heading"><th th:text="#{ftp.list.header.size}">Storlek</th></span>
                <span class="striped-table-heading"><th
                        th:text="#{ftp.list.header.timestamp}">Tidsstämpel</th></span>
                <span class="striped-table-heading"><th th:text="#{ftp.list.header.delete}">Radera</th></span>
            </li>

            <p th:if="${!ftp_fileScanResults.directoryFound}"
               th:text="'Sökt mapp tycks saknas på FTP-servern.'"></p>
            <br>
            <p th:if="${ftp_fileScanResults.directoryFound && #lists.isEmpty(ftp_fileScanResults.ftpFiles)}"
               th:text="'Inga Filer. Mappen förefaller tom.'"></p>

            <li th:each="ftp_file, iterStat : ${ftp_fileScanResults.ftpFiles}" class="ftp-list-span">

                    <span class="striped-table-content">
                        <input type="radio" class="ftp_radioselectcell"
                               th:name="'selectedFileRadios'"
                               th:id="'radio_' + ${iterStat.index}"
                               th:value="${ftp_fileScanResults.publicDownloadUrlPrefix + '/' + ftp_fileScanResults.desiredSubPath + '/' + ftp_file.name}"/>
                    </span>
                <span class="striped-table-content" th:text="${ftp_file.name}"></span>
                <span class="striped-table-content" th:text="${ftp_file.prettySize}"></span>
                <span class="striped-table-content" th:text="${ftp_file.prettyDate}"></span>
                <span class="striped-table-content">
                        <form th:method="delete" th:action="@{'/file_delete?domainName=' + ${domainName}
                        + '&versionName=' + ${versionName}
                        + '&fileName=' + ${ftp_file.name} }">
                            <input class="delete" type="submit" value="" id="ftpFiles_deleteFileButton"
                                   th:onclick="return confirm('Vill du verkligen radera filen [[${ftp_file.name}]]?')">
                        </form>
                    </span>
            </li>
        </ol>

        <button disabled type="button" id="ftp_filesDialog_selectFileBtn"><i class="fa fa-upload"></i>Välj Fil</button>

        <p th:text="'Vald fil kommer ges sökvägsprefix: ' + ${ftp_fileScanResults.publicDownloadUrlPrefix} + '/' + ${ftp_fileScanResults.desiredSubPath} + '/'"></p>
    </div>
</div>

<!-- FILE UPLOAD -->
<div th:fragment="uploadFileHandler">
    <div class="uploadFileHandler-info">
        <p>Sidan kommer laddas om efter filuppladdning.<br>
            Detta kan nollställa eventuella editerade fält.<br>
            Ingen varning i händelse av överskrivning.</p>
    </div>
    <section>
        <div>
            <div>
                <div>
                    <h1>Välj fil för uppladdning</h1>
                    <hr>
                    <p th:text="'Fil kommer att sparas till FTP-mapp: ' + ${ftp_fileScanResults.desiredSubPath}"></p>
                    <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
                    <form class="upload-container" method="post" th:action="@{/file_upload}" enctype="multipart/form-data">
                        <input type="hidden" name="domainName" th:value="${domainName}"/>
                        <input type="hidden" name="versionName" th:value="${versionName}"/>
                        <div class="form-group">
                            <input type="file" id="fileInput" name="file" class="form-control-file" onchange="checkFile()">
                            <button type="submit" id="submitButton" class="btn btn-primary" disabled onclick="submitForm()"><i class="fa fa-upload"></i> Ladda upp vald fil</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>



<!-- WORK IN PROGRESS!
Below is experimental code and script for handling the in-browser refresh of the file table. Haven't gotten it to work yet.
Also some other ideas that might be implemented or cleaned away eventually.
-->


<!-- JavaScript to handle the Ajax request -->
<script th:fragment="ftpFiles_dynamicListRefresherScript">
    document.getElementById('ftpFiles_updateListButton').addEventListener('click', function() {
        const domainKey = document.getElementById('domainKeyInput').value;
        const versionName = document.getElementById('versionNameInput').value;

        // Define your parameters as an object
        const params = {
            domainKey: domainKey,
            versionName: versionName
        };

        // Convert the object to a query string
        const queryString = new URLSearchParams(params).toString();

        // Construct the URL
        const url = `/find_files?${queryString}`;

        // Make an Ajax request to update the content
        fetch(url, {method: 'GET'})
            .then(response => response.text())
            .then(data => {
                document.getElementById('ftpFiles_dynamicListHook').innerHTML = data;
            });
    });
</script>


<!-- Below could maybe be used to prettify the file list -->

<span th:fragment="chooseFileIcon">
    <span th:if="${#strings.endsWith(entity.name,'txt')}">
        <img th:src="@{/static/images/fileIcon_txt.png}" alt="Textfil"/>
    </span>
    <span th:if="${#strings.endsWith(entity.name,'doc')}">
        <img th:src="@{/static/images/fileIcon_img.png}" alt="Uppdaterad"/>
    </span>
    <span th:if="${#strings.endsWith(entity.name,endingFragment)}">
        <img th:src="@{/static/images/fileIcon_.png}" alt="Borttagen"/>
    </span>
</span>
</html>