<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">

<div th:fragment="ftpFiles_subSectionContent" id="ftpFiles_subSectionContent">
    <!-- Content to be updated dynamically -->
    <p th:text="${dynamicContent}">Default content</p>
</div>

</html>