<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      th:lang="${#locale.language}">

<th:block th:fragment="commonHeadLines">
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
  <link rel="icon" type="image/png" th:href="@{/images/favicon.png}" />
  <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>
  <meta charset="UTF-8">
  <script>
    /*to prevent Firefox FOUC, or such 'content flash before style loaded' in other browsers, this must be here*/
    let FF_FOUC_FIX;
  </script>
</th:block>

<div th:fragment="header">
  <small
      th:text="${'DomDB - version ' + @configurationService.getAppVersion()}">Subtitle</small>

  <div class="header">
    <p id="logo">Domändatabasen </p>
    <div class="userinfo">
      <div th:if="${#authentication != null and #authentication.name != 'anonymousUser'}"
           class="userName" th:text="${#authentication.name}"></div>
      <div class="roles" th:if="${#authentication != null and #authentication.name != 'anonymousUser'}">
        <span class="userRoles" th:each="authority : ${#authentication.authorities}"
              th:text="'[' + ${authority.authority.replace('ROLE_', '')} + ']'"></span>
      </div>
    </div>
  </div>

  <div class="nav" role="navigation">
    <a class="navigator home" th:href="@{/domains}" th:text="#{default.home.label}"></a>
    <!----> <a th:if="false" class="navigator debug" th:href="@{/debug}" th:text="#{header.debug.label}"></a>
    <a class="navigator admin" sec:authorize="hasRole('ADMIN')" th:href="@{/users}"
       th:text="#{header.admin.label}"></a>
    <a class="navigator login" th:href="@{/login}" th:text="#{header.login.label}"
       th:if="${#authentication != null and #authentication.name == 'anonymousUser'}"></a>
    <a class="navigator logout" th:href="@{/logout}" th:text="#{header.logout.label}"
       th:if="${#authentication != null and #authentication.name != 'anonymousUser'}"></a>


  </div>

  <div class="error-message" th:if="${errorMessage}">
    <p th:text="${errorMessage}"></p>
  </div>

  <div class="info-message" th:if="${infoMessage}">
    <p th:text="${infoMessage}"></p>
  </div>
</div>
</html>