/* styles.css */

body, input, select, textarea {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
}

.ie6 html {
  height: 100%;
}

html {
  background-color: #ddd;
  background-image: -moz-linear-gradient(center top, #aaa, #ddd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #aaa), color-stop(1, #ddd));
  background-image: linear-gradient(top, #aaa, #ddd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#aaaaaa', EndColorStr='#dddddd');
  background-repeat: no-repeat;
  height: 100%;
  /* change the box model to exclude the padding from the calculation of 100% height (IE8+) */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html.no-cssgradients {
  background-color: #aaa;
}

body {
  background: #ffffff;
  color: #333333;
  margin: 0 auto;
  max-width: 960px;
  overflow-x: hidden; /* prevents box-shadow causing a horizontal scrollbar in firefox when viewport < 960px wide */
  -moz-box-shadow: 0 0 0.3em #255b17;
  -webkit-box-shadow: 0 0 0.3em #255b17;
  box-shadow: 0 0 0.3em #255b17;
}

.input {
    border: 0px;
}

.header {
  background-color: #abbf78;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  order: 1;
  padding: 30px;
  margin-top: 0;
  margin-bottom: 0;
  color: #eeeeee;
  font-size: 24pt;
}

.userinfo {
  padding: 1em;
  order: 2;
}

.userName {
  color: white;
  margin-block: 1px;
}

.userRoles {
  font-size: 0.8em;
}

.footer {
  background: #abbf78;
  color: #000;
  clear: both;
  font-size: 0.8em;
  margin-top: 1.5em;
  padding: 1em;
  min-height: 1em;
}

/* replace with .no-boxshadow body if you have modernizr available */
.ie6 body,
.ie7 body,
.ie8 body {
  border-color: #255b17;
  border-style: solid;
  border-width: 0 1px;
}

img {
  border: 0;
}

summary {
    color: #48802c;
    cursor: pointer;
    text-decoration: underline;
}

summary:hover {
    text-decoration: none;
}

.page-container {
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 8px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

a:link, a:visited, a:hover {
  color: #48802c;
}

a:hover, a:active {
  outline: none; /* prevents outline in webkit on active links but retains it for tab focus */
}

h1 {
  color: #48802c;
  font-weight: normal;
  font-size: 24px;
  margin: 0.8em 0 0.3em 0;
}

h2 {
  color: #666;
  font-size: 22px;
  font-weight: normal;
  margin: 24px 0 0 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: none;
}

table, tr {
    word-break: break-word;
}

.breadCrumb {
  border-bottom: 1px solid #CCCCCC;
  margin: 0.8em 1em 0.3em;
  padding: 0 0.25em;
}


/* TABLE STYLE START */

table {
    margin: 4px 0 12px 0;
}

th:nth-child(2), td:nth-child(2) {
    max-width: 254px;
}

table delete:nth-child(odd) {
    max-width: 254px;
}

/* TABLE STYLE END */

.domdb-big-list {
  margin-bottom: 0.2em;
  font-size: 1.2em;
}

.domdb-data {
  margin: 1.5em;
}

.domdb-big-list li {
  padding-bottom: 5px;
}


.domdb-big-list li:nth-child(odd) {
  background-color: #f9f9f9;
}

.domdb-big-list li:nth-child(even) {
  background-color: #ffffff;
}

.domdb-big-list li:last-child {
  background-color: #f9f9f9;
  margin-right: 15mm;
}

th {
  background-color: #f2f2f2;
}

th, td {
  padding: 8px;
}

th:first-child {
  color: black;
  text-align: left;
}

tr{
  text-align: left
}

/* Background-color of every other table */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

td.editLink {
  padding: 0em 0em 0em 0em;
}

/* Let the <div> provide the clickable cell-padding */
div.editLink {
    height:100%;
    width:100%;
    padding: 1.0em 1.0em 1.0em 1.0em;
}

/* Make the <a> fill the whole td */
td a.editLink {
  display: block;
  width: 100%;
  height: 100%;
}

th:first-child, td:first-child {
  text-align: left;
  white-space: nowrap;
  padding: 8px;
  vertical-align: top;
}

th:last-child, td:last-child {
  text-align: left;
  padding: 2mm 0 0mm 2mm;
}

hr {
  margin: 10px 0;
}

.table-list {
  list-style: none;
  display: table;
  width: 100%;
  border-collapse: collapse;
  list-style-type: none;
  padding: 0;
}

.table-list li {
  display: flex;
  margin-top: 6px;
}

.table-cell-heading, .table-cell-content {
  display: table-cell;
  padding: 8px;
  border: none;
  background-color: white;
}

.table-cell-content {
  text-align: left;
  max-width: 60%;
  word-break: break-word;
  color: #333;
}

.table-cell-heading {
  text-align: right;
  width: 25%;
  color: #666666;
}

/* Login /auth/users view style start */

.login-form {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

/* Login view style end */


.content {
  margin: 1.5em;
}

#edit-domain textarea {
  width: 500px;
  height: 240px;
}

.create-table-cell-heading {
  flex-basis: 25%;
  text-align: right;
  padding-right: 10px;
}

.fieldcontain label,
.fieldcontain .property-label {
  color: #666666;
  text-align: right;
  width: 25%;
}

input {
    width: 254px;
}
input[type='checkbox'] {
    width: 25px;
}

input, select, textarea {
  padding: 0.2em 0.4em;
}

#edit-domain input[type="text"],
#create-domain input[type="text"] {
  width: 500px
}


#edit-domain textarea {
  width: 500px;
  height: 240px;
}

.buttons {
    display: flex;
    align-items: center;
    background-color: #EFEFEF;
    box-shadow: 0 0 3px 1px #aaaaaa;
    border: none;
    padding-top: 10px;
}

.buttons a {
    margin-right: 8px;
}

.striped-table {
  list-style: none;
  padding: 10px;
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.striped-table li {
  display: flex;
}

.striped-table-heading,
.striped-table-content {
  flex: 1;
  padding: 8px;
  border: 0;
}

.striped-table-heading {
  font-weight: bold;
  background-color: #D3D3D3A2;
}

ol.striped-table li:nth-child(odd) {
  background-color: #EFEFEF41;
}

ol.striped-table li:nth-child(even) {
  background-color: #ffffff;
}


ul {
  padding: 0;
  list-style-type: none;
}


/* NAVIGATION MENU */

.nav {
  background-color: #efefef;
  padding: 0.5em 0.75em;
  -moz-box-shadow: 0 0 3px 1px #aaaaaa;
  -webkit-box-shadow: 0 0 3px 1px #aaaaaa;
  box-shadow: 0 0 3px 1px #aaaaaa;
  transform: scale(1);
}

.nav ul {
  overflow: hidden;
  padding-left: 0;
  transform: scale(1);
  margin: 0;
}

.nav li {
  display: block;
  float: left;
  list-style-type: none;
  margin-right: 0.5em;
  padding: 0;
}

.nav a {
  color: #666666;
  display: block;
  padding: 0.25em 0.7em;
  text-decoration: none;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
}

.nav a:active, .nav a:visited {
  color: #666666;
}

.nav a:focus, .nav a:hover {
  background-color: #999999;
  color: #ffffff;
  outline: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.no-borderradius .nav a:focus, .no-borderradius .nav a:hover {
  background-color: transparent;
  color: #444444;
  text-decoration: underline;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav a.list, .nav a.create, .nav a.navigator {
  background-position: 0.7em center;
  background-repeat: no-repeat;
  text-indent: 25px;
  background-size: auto;
}

.nav a.navigator.logout {
  font-weight: 500;
  margin-left: auto;
}

.nav a.navigator.login {
  font-weight: 500;
  margin-left: auto;
}

.nav a.home {
  background-image: url('../images/house.png');
}

.nav a.admin {
  background-image: url('../images/admin.png');
}

.nav a.login {
  background-image: url('../images/login.png');
}

.nav a.logout {
  background-image: url('../images/logout.png');
}

.nav a.list {
  background-image: url('../images/database_table.png');
}

.login_block {
  margin: 25px;
}

button.nav {
  margin: 1.5em;
  border-radius: 5px;
  border-color: darkgray;
  font-size: 0.9em;
}

.nav a.create {
  background-image: url('../images/database_add.png');
}

.add {
  background-image: url('../images/database_add.png');
  background-repeat: no-repeat;
  padding-left: 20px;
}

.edit {
  background-image: url('../images/database_edit.png');
  background-repeat: no-repeat;
  padding-left: 20px;
  background-position: left;
}

.edit:hover, delete, add {
    background-color: color: #48802c;
}

.delete {
  background-image: url('../images/database_delete.png');
  background-repeat: no-repeat;
  padding-left: 20px;
  border: transparent;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  color: #48802c;
  text-decoration: underline;
}

.updateFromSvn {
  background-image: url('../images/database_save.png');
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 20px;
  margin-left: 2px;
}

.required-field {
  border: 1px solid #FF0000FF;
}

.required-indicator {
  color: #FF0000FF;
  margin-left: 5px;
}

.errors ul,
.message {
  padding: 0;
}

.errors li {
  list-style: none;
  background: transparent url(../images/exclamation.png) 0.5em 50% no-repeat;
  text-indent: 2.2em;
}

.error-message, .info-message {
  padding: 10px;
  border-radius: 3px;
  margin: 15px;
  font-size: 0.95em;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
}

.error-message {
  border: 1px solid #d43f00;
  background-color: #ffe6e6;
}

.error-message p {
  color: #d43f00;
  margin: 0;
}

.info-message {
  border: 2px solid #4CAF50;
  background-color: #e7f4e4;
}

.info-message p {
  color: #4CAF50;
  margin: 0;
}

/* FTP MODAL STYLE START */

.ftp_filesDialog {
    border-radius: 8px;
    border: 2px solid #FAFAFA;
    width: 900px;
}

.ftp-close {
    display: flex;
    flex-direction: row-reverse;
}

.ftp_files button {
    color
}

.close-button {
  background-image: url('../images/close.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 24px;
  height: 24px;
  background-color: white;
  border: none;
  cursor: pointer;
}

.uploadFileHandler-info {
    margin-top: 8px;
    padding: 8px;
    border-radius: 8px;
    background-color: #FBF9E4;
}

.uploadFileHandler-info h2 {
    margin-top: 16px;
}

.uploadFileHandler-info p {
    text-align: center;
    color: #C9971C;
}

.upload-container{
    display: flex;
    margin-top: 12px;
    padding: 24px;
    background-color: #FAFAFA;
}

.form-group input {
    width: 500px;
    word-break: break-word;
}

.no-outline:focus {
    outline: none;
}

.ftp-list-heading span:nth-child(1) {
    max-width: 32px;
}
.ftp_radioselectcell {
    width: 25px;
}

.ftp-list-span span:nth-child(1) {
    max-width: 32px;
}

.ftp-list-heading span:nth-child(2) {
}

.ftp-list-span span:nth-child(2) {
    max-width: 348px;
    word-wrap: break-word;
}

.ftp-list-heading span:nth-child(3) {
    max-width: 100px;
}

.ftp-list-span span:nth-child(3) {
    max-width: 100px;
}

.ftp-list-heading span:nth-child(4) {
    max-width: 256px;
}

.ftp-list-span span:nth-child(4) {
    max-width: 256px;
}

.ftp-list-heading span:nth-child(5) {
    max-width: 80px;
}

.ftp-list-span span:nth-child(5) {
    max-width: 80px;
}

::backdrop {
    background-color: rgba(0, 0, 0, 0.23);
}

/* FTP MODAL STYLE END */



