<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
  <title>Lägg till domänversion</title>
  <th:block th:insert="fragments/layout :: commonHeadLines"/>
</head>
<body>

<div class="page-container">

  <div th:insert="fragments/layout :: header"></div>

  <div class="breadCrumb">
    <a th:href="@{/domains}" th:text="#{domain.service.domains}"></a>
    &gt;
    <a th:href="@{'/domain/' + ${domainName}}" th:text="${domainName}">Domain Name</a>
  </div>

  <div id="create-domain-version" class="content scaffold-create" role="main">
    <h1>Lägg till domänversion</h1>
    <form th:object="${domainVersion}" th:action="@{'/domain/' + ${domainName} + '/create'}"
          method="post">

      <ol class="table-list">
        <li>
          <label class="create-table-cell-heading" for="domainVersionName"
                 th:text="#{domain.version.version.name}">Versionsnamn</label>
          <span class="create-table-cell-input">
            <input type="text" id="domainVersionName" th:field="*{domainVersionName}"/>
            <span class="required-indicator">*</span>
          </span>
        </li>
        <li>
          <label class="create-table-cell-heading" for="swedishLong"
                 th:text="#{domain.version.source.path}">Källkodssökväg</label>
          <span class="create-table-cell-input">
            <input type="text" id="swedishLong" th:field="*{sourceControlPath}"/>
          </span>
        </li>
        <li>
          <label class="create-table-cell-heading" for="hiddenVersion"
                 th:text="#{domain.hidden}">Dold</label>
          <span class="create-table-cell-input">
            <input type="checkbox" id="hiddenVersion" name="hiddenVersion"
                   th:field="*{hiddenVersion}"/>
          </span>
        </li>
      </ol>
      <button type="submit">Spara</button>
    </form>
  </div>
  <div class="footer"></div>
</div>
</body>
</html>