<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" th:lang="${#locale.language}">

<head>
  <title th:text="#{domain.version.title}">Domain Version Detaljer</title>
  <th:block th:insert="fragments/layout :: commonHeadLines"/>
</head>

<body>
<div class="page-container">

  <div th:insert="fragments/layout :: header"></div>

  <div class="breadCrumb">
    <a th:href="@{/domains}" th:text="#{domain.version.service.domains}">Tjänstedomäner</a>
    &gt;
    <a th:href="@{/domain/{domainName}(domainName=${domainName})}" th:text="${domainName}">Domain
      Name</a>
    &gt;
    <span th:text="${versionName}"></span>
  </div>

  <!-- DOMAIN VERSION DETAILS START -->

  <div class="domdb-data details-table" role="main">

    <div class="details-container">
      <ol class="table-list">
        <li>
        <span class="table-cell-heading"
              th:text="#{domain.version.version.name}">Versionsnamn<span/></span>
          <span class="table-cell-content" th:text="${domainVersion.domainVersionName}"></span>
        </li>
        <li>
        <span class="table-cell-heading"
              th:text="#{domain.version.source.path}">Källkodssökväg</td></span>
          <span class="table-cell-content">
          <a th:href="${domainVersion.sourceControlPath}"
             th:text="${domainVersion.sourceControlPath}"></a></span>
        </li>
        <li>
        <span class="table-cell-heading"
              th:text="#{domain.version.release.package}">Releasepaket</span>
          <span class="table-cell-content">
          <a th:href="${domainVersion.zipUrl}" th:text="${domainVersion.zipUrl}"></a></span>
        </li>
        <li>
        <span class="table-cell-heading"
              th:text="#{domain.version.hidden}">Dold</span>
          <span class="table-cell-content"><span th:text="${domainVersion.hiddenVersion}"/></span>
        </li>
      </ol>

    <!-- DOMAIN VERSION DETAILS END -->

    <!-- DOCUMENT EDIT/UPDATE/DELETE SECTION START -->

    <fieldset sec:authorize="hasRole('EDITOR')" class="buttons">
      <a class="edit"
         th:href="@{/domain/{domainName}/{versionName}/edit(domainName=${domainName},versionName=${versionName})}"
         th:text="#{default.edit.label}"></a>

      <form th:method="delete" th:action="@{/domainVersion/{versionId}/delete(versionId=${domainVersion.id})}">
        <button class="delete" type="submit" id="domVerDeleteBtn" th:text="#{default.delete.label}"
                th:onclick="return confirm('Vill du ta bort Domänversionen [[${versionName}]]?')">
          Radera Domänversion
        </button>
      </form>

      <a class="updateFromSvn" th:href="@{/domain/{domainName}/{versionName}/refreshFromSource(domainName=${domainName},versionName=${versionName})}"
         th:text="#{default.update.from.source.label}"></a>

    </fieldset>

    <!-- DOCUMENT EDIT/UPDATE/DELETE SECTION END -->

    <!-- DOCUMENT TABLE START -->

    <h2 th:text="#{domain.version.documents.header}">Dokument</h2>

    <table aria-label="Documents referenced by this Domain Version.">
      <thead>
        <th th:text="#{domain.version.document.typ}">Typ</th>
        <th th:text="#{domain.version.document.link}">Länk</th>
        <th th:text="#{domain.version.last.changed.date}">Senast uppdaterad</th>
        <th th:text="#{default.edit.label}" sec:authorize="hasRole('EDITOR')">Ändra</th>
        <th th:text="#{default.delete.label}" sec:authorize="hasRole('EDITOR')">Delete</th>
      </thead>
        <tr th:each="document : ${domainVersion.descriptionDocuments}">
          <td th:text="${document.documentType}"></td>
          <td><a th:href="${document.fullPath}" th:text="${document.fileName}"></a></td>
          <td th:text="${#dates.format(document.lastChangedDate, 'yyyy-MM-dd')}"></td>
          <td sec:authorize="hasRole('EDITOR')" class="edit">
            <a th:href="@{/domain/{domainName}/{versionName}/document/edit/{documentId}(domainName=${domainName}, versionName=${versionName}, documentId=${document.id})}">Ändra</a></td>
          <td><form th:method="delete" th:action="@{/document/{documentId}/delete(documentId=${document.id})}">
            <button type="submit" id="documentDeleteBtn" th:text="#{default.delete.label}"
            th:onclick="return confirm('Vill du ta bort Dokumentet [[${document.fileName}]]?')"
            sec:authorize="hasRole('EDITOR')" class="delete">Radera</button>
          </form>
          </td>
        </tr>
    </table>

    <!-- DOCUMENT TABLE END -->

    <!-- DOCUMENT ADD SECTION START -->

    <fieldset sec:authorize="hasRole('EDITOR')" class="buttons">
      <a class="add"
         th:href="@{/domain/{domainName}/{versionName}/document/create(domainName=${domainName}, versionName=${versionName})}"
         th:text="#{default.add.label}"></a>
    </fieldset>

    <!-- DOCUMENT ADD SECTION END -->

    <!-- INTERACTION TABLE START -->

    <h2 th:text="#{domain.version.interactions.header}">Interaktioner</h2>

    <table aria-label="Interactions for this Domain Version.">
      <thead>
        <th th:text="#{domain.version.interaction.name}">Namn</th>
        <th th:text="#{domain.version.interaction.version}">Version</th>
        <th th:text="#{domain.version.interaction.profile}">Profil</th>
        <th th:text="#{domain.version.interaction.last.changed.date}">Senast ändrad</th>
      </thead>
        <tr th:each="description : ${domainVersion.interactionDescriptions}">
          <td th:text="${description.interactionName}"></td>
          <td th:text="${description.major + '.' + description.minor}"></td>
          <td th:text="${description.rivtaProfile}"></td>
          <td th:text="${#dates.format(description.lastChangedDate, 'yyyy-MM-dd')}"></td>
        </tr>
    </table>

    <!-- INTERACTION TABLE END -->

    <!-- REVIEW RESULT TABLE START -->

    <h2 th:text="#{domain.version.reviews.header}">Granskningsresultat</h2>

    <table aria-label="Reviews for this Domain Version.">
      <thead>
      <th th:text="#{domain.version.review.type}">Typ</th>
      <th th:text="#{domain.version.review.report}">Rapport</th>
      <th th:text="#{domain.version.review.result}">Resultat</th>
      <th th:text="#{default.edit.label}" sec:authorize="hasRole('EDITOR')">Ändra</th>
      <th th:text="#{default.delete.label}" sec:authorize="hasRole('EDITOR')">Delete</th>
      </thead>
      <tr th:each="review : ${domainVersion.reviews}">
        <td th:text="${review.reviewProtocol}"></td>
        <td><a th:href="${review.reportUrl}" th:text="${review.reportUrl}"></a></td>
        <td th:text="${review.reviewOutcome}"></td>
        <td><a th:href="@{/domain/{domainName}/{versionName}/review/edit/{reviewId}(domainName=${domainName}, versionName=${versionName}, reviewId=${review.id})}"
               sec:authorize="hasRole('EDITOR')" class="edit">Ändra</a></td>
        <td><form th:method="delete" th:action="@{/review/{reviewId}/delete(reviewId=${review.id})}">
        <button type="submit" id="reviewDeleteBtn" th:text="#{default.delete.label}"
                th:onclick="return confirm('Vill du ta bort Granskningen [[${review.reportUrl}]]?')"
                sec:authorize="hasRole('EDITOR')" class="delete">Radera</button>
      </form></td>
      </tr>
    </table>

    <!-- REVIEW RESULT TABLE END -->

    <!-- REVIEW ADD SECTION START -->

    <fieldset sec:authorize="hasRole('EDITOR')" class="buttons">
      <a class="add"
         th:href="@{/domain/{domainName}/{versionName}/review/create(domainName=${domainName}, versionName=${versionName})}"
         th:text="#{default.add.label}"></a></li>
    </fieldset>

    <!-- REVIEW ADD SECTION END -->

  </div>
  <div class="footer"></div>
</div>
</body>
</html>
