<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
  <title>Ändra DomainVersion</title>
  <th:block th:insert="fragments/layout :: commonHeadLines"/>
</head>
<body>

<div class="page-container">

  <div th:insert="fragments/layout :: header"></div>

  <div class="breadCrumb">
    <a th:href="@{/domains}" th:text="#{domain.version.service.domains}">Tjänstedomäner</a>
    &gt;
    <a th:href="@{/domain/{domainName}(domainName=${domainName})}" th:text="${domainName}">Domain
      Name</a>
    &gt;
    <a th:href="@{/domain/{domainName}/{versionName}(domainName=${domainName},versionName=${versionName})}"
       th:text="${versionName}"> Domain version Name</a>
  </div>

  <div id="create-domain-version" class="content scaffold-create" role="main">
    <h1>Ändra DomainVersion</h1>
    <form th:object="${domain}"
          th:action="@{'/domain/' + ${domain.domainName} + '/' + ${domain.domainVersion.domainVersionName} + '/edit'}"
          method="post">

      <ol class="table-list">
        <li>
          <label class="create-table-cell-heading" for="name"
                 th:text="#{domain.version.different.domain.name}">Domännamn namn</label>
          <span class="create-table-cell-input">
            <input type="text" name="name" id="name" th:field="*{domainName}"/>
          </span>
        </li>
        <li>
          <label class="create-table-cell-heading" for="domainVersionName"
                 th:text="#{domain.version.version.name}">Versionsnamn</label>
          <span class="create-table-cell-input">
            <input type="text" id="domainVersionName"
                   th:field="*{domainVersion.domainVersionName}"/>
          </span>
        </li>
        <li>
          <label class="create-table-cell-heading" for="sourceControlPath"
                 th:text="#{domain.version.source.path}">Källkodssökväg</label>
          <span class="create-table-cell-input">
            <input type="text" id="sourceControlPath"
                   th:field="*{domainVersion.sourceControlPath}"/>
          </span>
        </li>
        <li>
          <label class="create-table-cell-heading" for="documentsFolder"
                 th:text="#{domain.version.document.path}">Dokumentmapp</label>
          <span class="create-table-cell-input">
            <input type="text" id="documentsFolder" th:field="*{domainVersion.documentsFolder}"/>
          </span>
        </li>
        <li>
          <label class="create-table-cell-heading" for="interactionsFolder"
                 th:text="#{domain.version.contract.path}">Kontraktsmapp</label>
          <span class="create-table-cell-input">
            <input type="text" id="interactionsFolder"
                   th:field="*{domainVersion.interactionsFolder}"/>
          </span>
        </li>
        <li>
          <label class="create-table-cell-heading" for="releasePackage"
                 th:text="#{domain.version.release.package}">Releasepaket</label>
          <span class="create-table-cell-input">
            <input type="text" class="ftp_dialogOutputTarget" id="releasePackage"
                   th:field="*{domainVersion.zipUrl}"/>
          </span>
          <th:block th:insert="fragments/ftp :: ftp_fileSelect_openButton"></th:block>
        </li>
        <li>
          <label class="create-table-cell-heading" for="hiddenVersion"
                 th:text="#{domain.version.hidden}">Dold</label>
          <span class="create-table-cell-input">
            <input type="checkbox" id="hiddenVersion" name="hiddenVersion"
                   th:field="*{domainVersion.hiddenVersion}"/>
          </span>
        </li>
      </ol>
      <button type="submit">Spara</button>
    </form>
    <th:block th:insert="fragments/ftp :: ftp_fileSelect_modalWrapper"></th:block>
  </div>
  <div class="footer"></div>
</div>
</body>
</html>