<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" th:lang="${#locale.language}">
<head>
  <title th:text="#{domain.details}">Domain detaljer</title>
  <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>
  <th:block th:insert="fragments/layout :: commonHeadLines"/>
</head>
<body>

<div class="page-container">

  <div th:insert="fragments/layout :: header"></div>

  <div class="breadCrumb">
    <a th:href="@{/domains}" th:text="#{domain.service.domains}"></a>
    &gt;
    <span th:text="${domain.domainName}"/>
  </div>

  <div class="domdb-data" role="main">
    <ol class="table-list">
      <li>
        <span class="table-cell-heading" th:text="#{domain.name.english}">Engelskt domännamn</span>
        <span class="table-cell-content" th:text="${domain.domainName}"/></span>
      </li>
      <li>
        <span class="table-cell-heading" th:text="#{domain.name.full.swedish}">Svenskt domännamn</span>
        <span class="table-cell-content" th:text="${domain.swedishLong}"></span>
      </li>
      <li>
        <span class="table-cell-heading" th:text="#{domain.name.short.swedish}">Svenskt kortnamn</span>
        <span class="table-cell-content" th:text="${domain.swedishShort}"></span>
      </li>
      <li>
        <span class="table-cell-heading" th:text="#{domain.description}">Beskrivning</span>
        <span class="table-cell-content" th:text="${domain.description}"/></span>
      </li>
      <li>
        <span class="table-cell-heading" th:text="#{domain.info.page.link}">Länk till infosida</span>
        <span class="table-cell-content"><a th:href="${domain.infoPageUrl}" th:text="${domain.infoPageUrl}"/></span>
      </li>
      <li>
        <span class="table-cell-heading" th:text="#{domain.issue.tracker.link}">Länk till ärendehantering</span>
        <span class="table-cell-content"><a th:href="${domain.issueTrackerUrl}" th:text="${domain.issueTrackerUrl}"/></span>
      </li>
      <li>
        <span class="table-cell-heading" th:text="#{domain.source.code.link}">Länk till källkodshantering</span>
        <span class="table-cell-content"><a th:href="${domain.sourceCodeUrl}" th:text="${domain.sourceCodeUrl}"/></span>
      </li>
      <li>
        <span class="table-cell-heading" th:text="#{domain.service.domain.owner}">Tjänstedomänansvarig</span>
        <span class="table-cell-content" th:text="${domain.owner}"></span>
      </li>
      <li>
        <span class="table-cell-heading" th:text="#{domain.hidden}">Dold</span>
        <span class="table-cell-content" th:text="${domain.hiddenDomain}"/>
      </li>
      <li>
        <span class="table-cell-heading" th:text="#{domain.type}">Domäntyp</span>
        <span class="table-cell-content" th:text="${domain.domainType.name}"/>
      </li>
      <li>
        <span class="table-cell-heading" th:text="#{domain.type.description}">Domäntyp beskrivning</span>
        <span class="table-cell-content" th:text="${domain.domainType.description}"/>
      </li>
    </ol>

    <fieldset sec:authorize="hasRole('EDITOR')" class="buttons">
      <a class="edit"
         th:href="@{'/domain/' + ${domain.domainName} + '/edit'}"
         th:text="#{default.edit.label}"></a>
      <form th:method="delete" th:action="@{'/domain/' + ${domain.id} + '/delete'}">
        <button class="delete" type="submit" th:text="#{default.delete.label}"
                th:onclick="return confirm('Vill du ta bort Domänen [[${domain.domainName}]]?')">
        </button>
      </form>
    </fieldset>

    <!-- VERSION TABLE START -->

    <h2 th:text="#{domain.versions}"></h2>

    <table aria-label="All Domain Versions for this Domain.">
      <thead>
      <th th:text="#{domain.version.name}">Namn</th>
      <th th:text="#{domain.version.hidden}">Dold</th>
      </thead>
      <tr th:each="version : ${domain.versions}">
        <td><a th:href="@{'/domain/' + ${domain.domainName} + '/' + ${version.domainVersionName}}" th:text="${version.domainVersionName}">Namn</a></td>
        <td th:if="${version.hiddenVersion}">X</td>
        <td th:unless="${version.hiddenVersion}"></td>
      </tr>
    </table>

    <!-- VERSION TABLE END -->

    <!-- VERSION ADD SECTION START -->

    <fieldset sec:authorize="hasRole('EDITOR')" class="buttons">
      <a class="add" th:href="@{'/domain/' + ${domain.domainName} + '/create'}" th:text="#{domain.version.create.new}"></a></li>
    </fieldset>

    <!-- VERSION ADD SECTION END -->

  </div>
</div>
<div class="footer"></div>
</body>
</html>