<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
  <title>Ändra tjänstedomän</title>
  <th:block th:insert="fragments/layout :: commonHeadLines"/>
</head>
<body>

<div class="page-container">

  <div th:insert="fragments/layout :: header"></div>

  <div class="breadCrumb">
    <a th:href="@{/domains}" th:text="#{domain.version.service.domains}">Tjänstedomäner</a>
    &gt;
    <a th:href="@{/domain/{domainName}(domainName=${domainName})}" th:text="${domainName}">Domain
      Name</a>
  </div>

  <div id="edit-domain" class="content scaffold-create" role="main">
    <h1>Ändra tjänstedomän</h1>
    <form th:object="${domain}" th:action="@{'/domain/' + ${domain.domainName} + '/edit'}"
          method="post">
      <ol class="table-list">
        <li>
          <label class="create-table-cell-heading" for="domainName"
                 th:text="#{domain.name.english}">Engelskt domännamn</label>
          <span class="create-table-cell-input">
            <input type="text" id="domainName" required="required" th:field="*{domainName}"/>
            <span class="required-indicator">*</span>
          </span>
        </li>
        <li>
          <label class="create-table-cell-heading" for="swedishLong"
                 th:text="#{domain.name.full.swedish}">Svenskt domännamn</label>
          <span class="create-table-cell-input">
            <input type="text" id="swedishLong" th:field="*{swedishLong}"/>
          </span>
        </li>
        <li>
          <label class="create-table-cell-heading" for="swedishShort"
                 th:text="#{domain.name.short.swedish}">Svenskt kortnamn</label>
          <span class="create-table-cell-input">
            <input type="text" id="swedishShort" th:field="*{swedishShort}"/>
          </span>
        </li>
        <li>
          <label class="create-table-cell-heading" for="description"
                 th:text="#{domain.description}">Beskrivning</label>
          <span class="create-table-cell-input">
            <input type="text" id="description" th:field="*{description}"/>
          </span>
        </li>
        <li>
          <label class="create-table-cell-heading" for="infoPageUrl"
                 th:text="#{domain.info.page.link}">Länk till infosida</label>
          <span class="create-table-cell-input">
            <input type="text" id="infoPageUrl" th:field="*{infoPageUrl}"/>
          </span>
        </li>
        <li>
          <label class="create-table-cell-heading" for="issueTrackerUrl"
                 th:text="#{domain.issue.tracker.link}">Länk till ärendehantering</label>
          <span class="create-table-cell-input">
            <input type="text" id="issueTrackerUrl" th:field="*{issueTrackerUrl}"/>
          </span>
        </li>
        <li>
          <label class="create-table-cell-heading" for="sourceCodeUrl"
                 th:text="#{domain.source.code.link}">Länk till källkodshantering</label>
          <span class="create-table-cell-input">
            <input type="text" id="sourceCodeUrl" th:field="*{sourceCodeUrl}"/>
          </span>
        </li>
        <li>
          <label class="create-table-cell-heading" for="owner"
                 th:text="#{domain.service.domain.owner}">Tjänstedomänansvarig</label>
          <span class="create-table-cell-input">
            <input type="text" id="owner" th:field="*{owner}"/>
          </span>
        </li>
        <li>
          <label class="create-table-cell-heading" for="domainType"
                 th:text="#{domain.type}">Domäntyp</label>
          <select class="create-table-cell-input" id="domainType" name="domainType">
            <option th:each="domainType : ${domainTypes}"
                    th:value="${domainType.id}"
                    th:text="${domainType.name}"
                    th:selected="${domainType.id==domain.domainType.id}">
            </option>
          </select>
        </li>
        <li>
          <label class="create-table-cell-heading" for="hiddenDomain"
                 th:text="#{domain.hidden}">Dold</label>
          <span class="create-table-cell-input">
            <input type="checkbox" id="hiddenDomain" name="hiddenDomain" th:field="*{hiddenDomain}"/>
          </span>
        </li>
      </ol>
      <button type="submit">Uppdatera</button>
    </form>
  </div>
  <div class="footer"></div>
</div>
</body>
</html>
