<!-- Copyright © 2022 Inera.
     See attached license text-file for licensing and details. -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" th:lang="${#locale.language}">

<head>
  <th:block th:insert="fragments/layout :: commonHeadLines"/>
  <title>Tjänstedomän - lista</title>
</head>

<body>

<div class="page-container">

  <div th:insert="fragments/layout :: header"></div>

  <div class="breadCrumb">Tjänstedomäner</div>

  <div class="domdb-data" role="main">
    <ul class="domdb-big-list">
      <li th:each="domain : ${domainList}">
        <a th:href="@{'/domain/' + ${domain.name}}" th:text="${domain.name}"></a></li>
    </ul>
  </div>

  <button sec:authorize="hasRole('EDITOR')" class="nav" role="navigation">
    <a class="create" th:href="@{/domain/create}" th:text="#{default.ny.domain}"></a>
  </button>

</div>
<div class="footer"></div>
</body>
</html>